<!-- <div style="display: flex">
  <app-image-table [dataSource]="imageData" (imageClicked)="imageDisplay.setImage($event)"></app-image-table>
  <app-img-display #imageDisplay></app-img-display>
</div> -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <app-image-table [dataSource]="imageData" (imageClicked)="imageDisplay.setImage($event)"></app-image-table>
    </div>
    <div class="col-md-6">
      <app-img-display #imageDisplay></app-img-display>
    </div>
  </div>
</div>