<table mat-table [dataSource]="dataSource" (click)="rowClicked($event)" class="custom-table">

  <ng-container matColumnDef="Sn">
    <th mat-header-cell *matHeaderCellDef class="custom-header"> S.No </th>
    <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.Sn}} </td>
  </ng-container>
    <!-- Image Name Column -->
    <ng-container matColumnDef="imageName">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Image Name </th>
      <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.imageName}} </td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef class="custom-header"> Image Description </th>
      <td mat-cell *matCellDef="let element" class="custom-cell"> {{element.desc}} </td>
    </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="custom-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  